[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/hotcio/chainbase
        ignore = dirty
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/hotcio/appbase
        ignore = dirty
[submodule "programs/snapshot"]
	path = programs/snapshot
	url = https://github.com/HOTCIO/genesis.git
